!user/*
!user/
!patches/*
!patches/
*
/*
.buildpath
.project
org.eclipse.php.core.prefs
private.patch
.svn
admin/
classes/
docs/
fonts/
images/
images/*
images/**/*
locale/
scripts/
templates/
tmp/
upload/
